<div id="agendamento">
    <h2>Agendamento veterinário</h2>

    <form action="" method="POST">
    <div>
        <div class="campo">
           
            <input type="text" name="dono"  required placeholder="Nome Dono"> 
        </div>
              
        <div class="campo">

            <input type="text" name="animal" required placeholder="Nome Animal">
        </div>
            
        <div class="campo">
            <input type="text" name="especie" required placeholder="Especie">
        </div>
            
        <div class="campo">
            <input type="text" name="dono" required placeholder="Raça">
        </div>
          
        <div class="campo">
            
            <input type="number" name="telefone" required placeholder="Telefone">    
            
        </div>
    </div>
    <div class="campo2">

        <label for="observacoes">Observações</label>

        <textarea name="observacoes" id="" cols="30" rows="10"></textarea>

        <button type="submit">Agendar</button>
      
        </div>
    </div>
       
           
    </form>

</div>