<div class="agendamento_active">
    <h2>Agendamento veterinário</h2>

    <form action="" method="POST">
        
            <label for="dono">Nome do dono</label>

            <input type="text" name="dono" required>    
            
            <label for="animal">Nome do animal</label>

            <input type="text" name="animal" required>

            <label for="especie">Espécie</label>

            <input type="text" name="especie" required>

            <label for="raca">Raça</label>

            <input type="text" name="dono" required>
        
            <label for="telefone">Telefone</label>

            <input type="text" name="telefone" required>    
            
            <label for="data">Data</label>

            <input type="date" name="data" required>    

            <label for="observacoes">Observações</label>

            <textarea name="observacoes" id="" cols="30" rows="10"></textarea>

            <button type="submit">Agendar</button>
    </form>

</div>