<div id="banho">
    <h2>Agendamento de Banho/Tosa</h2>
    <form action="" method="post">
        <input type="text" name="dono" placeholder="Dono">

        <input type="text" name="telefone" placeholder="(11)0000-0000">

        <input type="date" name="data">

        <button type="submit">Agendar</button>
    </form>
</div>