<div id="navbar">
    <h1>LOVEPETSHOP</h1><br><br><br>
    <ul>
        <li><a onclick="showAgendamento()">Agendamento</a></li>
        <li><a onclick=" ">Produtos</a></li>
        <li><a onclick=" ">Clientes</a></li>
    </ul><br><br><br>
    <p>Seja bem vindo de volta!</p>
    <i class="fa fa-paw"></i>
    <i class="copy">2021&copy;</i>
</div>