<%- include('./partials/head') %>
<body>
    <div id="painel_home">
       <%- include('./partials/navbar') %>
       <div class="home">
           <%- include('./partials/agendamento') %>
       </div>
    </div>
    <script src="/js/functions.js"></script>
</body>
</html>