<%- include('./partials/head') %>
<body>
    <div id="painel">
        <div id="navbar">
            <h1>LOVEPETSHOP</h1>
            <br>
            <br>
            <br>
            <ul>
                
                <li><p>Agendamento</p></li>
                <li><p>Produtos</p></li>
                <li><p>Clientes</p></li>
            </ul>
            <br>
            <br>
            <br>
            <p>Seja bem vindo de volta, <%=user.nome%>!</p>
            <i class="fa fa-paw"></i>
            <i class="copy">2021&copy;</i>
            
            
        </div>
    </div>
</body>
</html>